<div class="container">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Component</th>
                <th>Product</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Processor</td>
                
                    <mat-form-field appearance="fill">
                        <mat-label>Add Component</mat-label>
                        <select 
                            [(ngModel)]="selectedProcessor" 
                            (ngModelChange)="onProcessorChange($event)"
                            required>
                        <option 
                        *ngFor="let processor of products.processorList;" 
                        [value]="processor | json"
                        >
                        {{processor.productName}}
                        </option>
                        </select>
                      </mat-form-field>
                
                
            </tr>
            <tr>
                <td>MotherBoard</td>
                <td>
                    <mat-form-field appearance="fill">
                        <mat-label>Add Component</mat-label>
                        <select 
                            [ngModel]="selectedMotherboard" 
                            (ngModelChange)="onMbChange($event)"
                            required>
                          <option *ngFor="let motherboard of products.motherboardList; 
                            let i = index" 
                            [value]="motherboard | json">
                            {{motherboard.productName}}
                          </option>
                        </select>
                      </mat-form-field>
                </td>
               
            </tr>
            <tr>
                <td>RAM</td>
                <td>
                    <mat-form-field appearance="fill">
                        <mat-label>Add Component</mat-label>
                        <select 
                            [ngModel]="selectedRam" 
                            (ngModelChange)="onRamChange($event)"
                            required>
                          <option *ngFor="let ram of products.ramList; 
                            let i = index" 
                            [value]="ram | json">
                            {{ram.productName}}
                          </option>
                        </select>
                      </mat-form-field>
                </td>
            </tr>
        </tbody>
    </table>
  </div>
